---
import "lightgallery/css/lightgallery-bundle.min.css";
import "./style.scss";
---

<script>
  import lightGallery from "lightgallery";

  // Plugins
  import lgThumbnail from "lightgallery/plugins/thumbnail";
  import lgZoom from "lightgallery/plugins/zoom";

  const gallery = document.getElementById("lightgallery5") as HTMLElement;
  if (gallery) {
    lightGallery(gallery, {
      plugins: [lgZoom, lgThumbnail],
    });
  }
</script>

<div id="page5" class="pages_page">
  <div class="pages_page__inner">
    <div class="pagenumber">4 5</div>
    <div class="bg">
      <div id="lightgallery5" class="photo-album">
        <a href="/wedding/img/album/img1.jpg" class="large polaroid img1"
          ><img src="/wedding/img/album/img1.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img2.jpg" class="polaroid img2"
          ><img src="/wedding/img/album/img2.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img3.jpg" class="medium polaroid img3"
          ><img src="/wedding/img/album/img3.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img4.jpg" class="medium polaroid img4"
          ><img src="/wedding/img/album/img4.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img5.jpg" class="polaroid img5"
          ><img src="/wedding/img/album/img5.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img6.jpg" class="polaroid img6"
          ><img src="/wedding/img/album/img6.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img7.jpg" class="polaroid img7"
          ><img src="/wedding/img/album/img7.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img8.jpg" class="medium polaroid img8"
          ><img src="/wedding/img/album/img8.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img9.jpg" class="large polaroid img9"
          ><img src="/wedding/img/album/img9.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img10.jpg" class="polaroid img10"
          ><img src="/wedding/img/album/img10.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img11.jpg" class="small polaroid img11"
          ><img src="/wedding/img/album/img11.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img12.jpg" class="medium polaroid img12"
          ><img src="/wedding/img/album/img12.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img13.jpg" class="polaroid img13"
          ><img src="/wedding/img/album/img13.jpg" alt="" /></a
        >
        <a href="/wedding/img/album/img14.jpg" class="polaroid img14"
          ><img src="/wedding/img/album/img14.jpg" alt="" /></a
        >
      </div>
    </div>
    <!-- <div class="content"></div> -->
    <div class="control">
      <label for="two"></label>
    </div>
  </div>
</div>
