---

---

<div id="page2" class="pages_page">
  <div class="pages_page__inner">
    <div class="content">
      <!-- <div class="content_center right">
            <h4>The latest in fashion &amp; fashion design</h4>
          </div> -->
      <!-- <div class="overlay"></div> -->
    </div>
    <div class="control next">
      <label for="two"></label>
    </div>
    <div class="bg"></div>
  </div>
</div>
