---

---

<div id="page6" class="pages_page">
  <div class="pages_page__inner">
    <!-- <div class="menu">
          <div class="menu_part"></div>
          <div class="menu_part"></div>
          <div class="menu_part"></div>
        </div> -->
    <div class="control next">
      <label for="four"></label>
    </div>
    <div class="bg">
      <div id="lightgallery">hai anh</div>
    </div>

    <div class="content">
      <h2>Hai Anh</h2>
    </div>
  </div>
</div>

<style></style>
