---

---

<div id="page6" class="pages_page">
  <div class="pages_page__inner">
    <!-- <div class="menu">
          <div class="menu_part"></div>
          <div class="menu_part"></div>
          <div class="menu_part"></div>
        </div> -->
    <div class="control next">
      <label for="four"></label>
    </div>
    <div class="bg">
      <div class="photo-album">
          <h1><span>Nat <abbr title="and" class="amp">&amp;</abbr> Simon in New Zealand</span></h1>
          <a class="large polaroid img1"><img src="http://media.24ways.org/2009/14/img/volcanic.jpg" alt="">This breathtaking volcanic lake is at Wai-O-Tapu Thermal Wonderland</a>
          <a class="polaroid img2"><img src="http://media.24ways.org/2009/14/img/waterfall.jpg" alt="">This lovely waterfall was at Rotorua in Rainbow Springs</a>
          <a class="small polaroid img3"><img src="http://media.24ways.org/2009/14/img/leaf.jpg" alt="">Ferntastic</a>
          <a class="medium polaroid img4"><img src="http://media.24ways.org/2009/14/img/whale.jpg" alt="">At Kaikoura we went whale watching!</a>
          <a class="polaroid img5"><img src="http://media.24ways.org/2009/14/img/seal.jpg" alt="">Found this little cutie on a walk in New Zealand!</a>
          <a class="polaroid img6"><img src="http://media.24ways.org/2009/14/img/lake.jpg" alt="">An amazing bubbling volcanic spring, a bit muddy</a>
          <a class="polaroid img7"><img src="http://media.24ways.org/2009/14/img/simon.jpg" alt="">Simon in a giant Kiwi, pretending to be a Kiwi (the bird)</a>
          <a class="small polaroid img8"><img src="http://media.24ways.org/2009/14/img/albatross.jpg" alt="">Albatross in Dunedin</a>
      </div>
    </div>
    <div class="content"></div>
  </div>
</div>
