---

---

<div id="page4" class="pages_page">
  <div class="pages_page__inner">
    <!-- <div class="menu">
          <div class="menu_part"></div>
          <div class="menu_part"></div>
          <div class="menu_part"></div>
        </div> -->
    <div class="control next">
      <label for="three"></label>
    </div>
    <div class="bg"></div>
    <div class="content">
      <div class="content_quote">
        <h5>
          <span class="quo">
            <i>"</i>
          </span>
          <span>This is a quote</span>
          <span>from someone</span>
          <span class="name">Jamie Coulter</span>
          <span class="auth">- Jcoulterdesign</span>
          <span class="quo">"</span>
        </h5>
      </div>
      <div class="content_picture">
        <img src="/wedding/img/img-story1.jpeg" />
      </div>
      <h1>
        <span>L</span>
        <span>o</span>
        <span>o</span>
        <span>k</span>
        <span>&nbsp;</span>
        <span>a</span>
        <span>t</span>
        <span>&nbsp;</span>
        <span>t</span>
        <span>h</span>
        <span>i</span>
        <span>s</span>
        <span>&nbsp;</span>
        <span>a</span>
        <span>w</span>
        <span>e</span>
        <span>s</span>
        <span>o</span>
        <span>m</span>
        <span>e</span>
        <br />
        <span>h</span>
        <span>e</span>
        <span>a</span>
        <span>d</span>
        <span>l</span>
        <span>i</span>
        <span>n</span>
        <span>e</span>
        <span>&nbsp;</span>
        <span>r</span>
        <span>i</span>
        <span>g</span>
        <span>h</span>
        <span>t</span>
        <span>&nbsp;</span>
        <span>h</span>
        <span>e</span>
        <span>r</span>
        <span>e</span>
      </h1>
    </div>
  </div>
</div>
