---

---

<div id="page5" class="pages_page">
  <div class="pages_page__inner">
    <!-- <div class="logo">Hai Anh & Nam Tran</div> -->
    <div class="pagenumber">4 5</div>
    <div class="content">
      <div class="content_center">
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
        <h6>Lorem ipsum dolor sit amet</h6>
      </div>
    </div>
    <div class="control">
      <label for="two"></label>
    </div>
  </div>
</div>
