---

---

<script>
  import lightGallery from "lightgallery";

  // Plugins
  import lgThumbnail from "lightgallery/plugins/thumbnail";
  import lgZoom from "lightgallery/plugins/zoom";

  const gallery = document.getElementById("lightgallery5") as HTMLElement;
  if (gallery) {
    lightGallery(gallery, {
      plugins: [lgZoom, lgThumbnail],
    });
  }
</script>

<div id="page5" class="pages_page">
  <div class="pages_page__inner">
    <div class="pagenumber">4 5</div>
    <div class="bg">
      <div id="lightgallery5" class="photo-album">
        <a href="http://media.24ways.org/2009/14/img/volcanic.jpg" class="large polaroid img1" ><img src="http://media.24ways.org/2009/14/img/volcanic.jpg" alt="" />This breathtaking volcanic lake is at Wai-O-Tapu Thermal Wonderland</a>
        <a href="http://media.24ways.org/2009/14/img/waterfall.jpg" class="polaroid img2" ><img src="http://media.24ways.org/2009/14/img/waterfall.jpg" alt="" />This lovely waterfall was at Rotorua in Rainbow Springs</a>
        <a href="http://media.24ways.org/2009/14/img/leaf.jpg" class="small polaroid img3" ><img src="http://media.24ways.org/2009/14/img/leaf.jpg" alt="" />Ferntastic</a>
        <a href="http://media.24ways.org/2009/14/img/whale.jpg" class="medium polaroid img4" ><img src="http://media.24ways.org/2009/14/img/whale.jpg" alt="" />At Kaikoura we went whale watching!</a>
        <a href="http://media.24ways.org/2009/14/img/seal.jpg" class="polaroid img5" ><img src="http://media.24ways.org/2009/14/img/seal.jpg" alt="" />Found this little cutie on a walk in New Zealand!</a>
        <a href="http://media.24ways.org/2009/14/img/lake.jpg" class="polaroid img6" ><img src="http://media.24ways.org/2009/14/img/lake.jpg" alt="" />An amazing bubbling volcanic spring, a bit muddy</a>
        <a href="http://media.24ways.org/2009/14/img/simon.jpg" class="polaroid img7" ><img src="http://media.24ways.org/2009/14/img/simon.jpg" alt="" />Simon in a giant Kiwi, pretending to be a Kiwi (the bird)</a>
        <a href="http://media.24ways.org/2009/14/img/albatross.jpg" class="small polaroid img8" ><img src="http://media.24ways.org/2009/14/img/albatross.jpg" alt="" />Albatross in Dunedin</a>
      </div>
    </div>
    <!-- <div class="content"></div> -->
    <div class="control">
      <label for="two"></label>
    </div>
  </div>
</div>
