---

---

<div id="page3" class="pages_page">
  <div class="pages_page__inner">
    <!-- <div class="logo">Hai Anh & Nam Tran</div> -->
    <div class="pagenumber">2 3</div>
    <div class="control">
      <label for="one"></label>
    </div>
    <div class="content">
      <div class="content_picture">
        <img src="/wedding/img/img-story1.jpeg" />
      </div>
      <div class="content_offset">
        <h2>Subtitle</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a
          imperdiet sapien. Nunc vehicula lorem neque, eu rutrum sapien posuere
          ut. Nunc eget ullamcorper turpis. Sed in vehicula magna, vitae
          eleifend velit. Donec dui turpis, viverra vitae lobortis commodo,
          lobortis et ex.
        </p>
      </div>
      <h1>
        <span>L</span>
        <span>o</span>
        <span>o</span>
        <span>k</span>
        <span>&nbsp;</span>
        <span>a</span>
        <span>t</span>
        <span>&nbsp;</span>
        <span>t</span>
        <span>h</span>
        <span>i</span>
        <span>s</span>
        <span>&nbsp;</span>
        <span>a</span>
        <span>w</span>
        <span>e</span>
        <span>s</span>
        <span>o</span>
        <span>m</span>
        <span>e</span>
        <br />
        <span>h</span>
        <span>e</span>
        <span>a</span>
        <span>d</span>
        <span>l</span>
        <span>i</span>
        <span>n</span>
        <span>e</span>
        <span>&nbsp;</span>
        <span>r</span>
        <span>i</span>
        <span>g</span>
        <span>h</span>
        <span>t</span>
        <span>&nbsp;</span>
        <span>h</span>
        <span>e</span>
        <span>r</span>
        <span>e</span>
      </h1>
    </div>
  </div>
</div>
