---

---

<div id="page7" class="pages_page">
  <div class="pages_page__inner">
    <!-- <div class="logo">Hai Anh & Nam Tran</div> -->
    <div class="pagenumber">6 7</div>
    <div class="content">
      <div class="content_section">
        <h2>Super</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a
          imperdiet sapien. Nunc vehicula lorem neque, eu rutrum sapien posuere
          ut. Nunc eget ullamcorper turpis. Sed in vehicula magna, vitae
          eleifend velit.
        </p>
      </div>
      <div class="content_section">
        <h2>Awesome</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a
          imperdiet sapien. Nunc vehicula lorem neque, eu rutrum sapien posuere
          ut. Nunc eget ullamcorper turpis. Sed in vehicula magna, vitae
          eleifend velit.
        </p>
      </div>
      <div class="content_section">
        <h2>Great</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a
          imperdiet sapien. Nunc vehicula lorem neque, eu rutrum sapien posuere
          ut. Nunc eget ullamcorper turpis. Sed in vehicula magna.
        </p>
      </div>
    </div>
    <div class="control">
      <label for="three"></label>
    </div>
  </div>
</div>
